<ion-header>
  <ion-toolbar>
    <ion-title>Single Trait</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Mutter</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!--  Todo: Component einfügen -->
      <ion-item>
        <ion-label>Merkmal 1</ion-label>
        <ion-select value="brown" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="brown">Brown</ion-select-option>
          <ion-select-option value="blonde">Blonde</ion-select-option>
          <ion-select-option value="black">Black</ion-select-option>
          <ion-select-option value="red">Red</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Merkmal 2</ion-label>
        <ion-select value="blonde" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="brown">Brown</ion-select-option>
          <ion-select-option value="blonde">Blonde</ion-select-option>
          <ion-select-option value="black">Black</ion-select-option>
          <ion-select-option value="red">Red</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Merkmal 3</ion-label>
        <ion-select value="black" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="brown">Brown</ion-select-option>
          <ion-select-option value="blonde">Blonde</ion-select-option>
          <ion-select-option value="black">Black</ion-select-option>
          <ion-select-option value="red">Red</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Vater</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!--  Todo: Component einfügen -->
      <ion-item>
        <ion-label>Merkmal 1</ion-label>
        <ion-select value="brown" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="brown">Brown</ion-select-option>
          <ion-select-option value="blonde">Blonde</ion-select-option>
          <ion-select-option value="black">Black</ion-select-option>
          <ion-select-option value="red">Red</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Merkmal 2</ion-label>
        <ion-select value="blonde" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="brown">Brown</ion-select-option>
          <ion-select-option value="blonde">Blonde</ion-select-option>
          <ion-select-option value="black">Black</ion-select-option>
          <ion-select-option value="red">Red</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Merkmal 3</ion-label>
        <ion-select value="black" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="brown">Brown</ion-select-option>
          <ion-select-option value="blonde">Blonde</ion-select-option>
          <ion-select-option value="black">Black</ion-select-option>
          <ion-select-option value="red">Red</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col size="9">
      <ion-button expand="block">Generate Child</ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button expand="block">Clear</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
